[submodule "BrowserCashe/ImDisk"]
	path = BrowserCashe/ImDisk
	url = git@github.com:LTRData/ImDisk.git
[submodule "BrowserCashe/RowCopy"]
	path = BrowserCashe/RowCopy
	url = git@github.com:LTRData/rawcopy.git
[submodule "BrowserCashe/SwapAdd"]
	path = BrowserCashe/SwapAdd
	url = git@github.com:LTRData/swapadd.git
[submodule "SystemSupport/Win-10-11-Utilities"]
	path = SystemSupport/Win-10-11-Utilities
	url = git@github.com:ChrisTitusTech/winutil.git
[submodule "SystemSupport/Win-10-11-BloatyNosy"]
	path = SystemSupport/Win-10-11-BloatyNosy
	url = git@github.com:builtbybel/BloatyNosy.git
[submodule "SystemSupport/Win-10-11-Open-Shell"]
	path = SystemSupport/Win-10-11-Open-Shell
	url = git@github.com:Open-Shell/Open-Shell-Menu.git
[submodule "HEIC-Format/HeicConverter"]
	path = HEIC-Format/HeicConverter
	url = git@github.com:saschiwy/HeicConverter.git
[submodule "SystemSupport/Win-10-11-UnattendedWinstall"]
	path = SystemSupport/Win-10-11-UnattendedWinstall
	url = git@github.com:memstechtips/UnattendedWinstall.git
