[submodule "BrowserCashe/ImDisk"]
	path = BrowserCashe/ImDisk
	url = git@github.com:LTRData/ImDisk.git
[submodule "BrowserCashe/RowCopy"]
	path = BrowserCashe/RowCopy
	url = git@github.com:LTRData/rawcopy.git
[submodule "BrowserCashe/SwapAdd"]
	path = BrowserCashe/SwapAdd
	url = git@github.com:LTRData/swapadd.git
[submodule "SystemSupport/Win-10-11-Utilities"]
	path = SystemSupport/Win-10-11-Utilities
	url = git@github.com:ChrisTitusTech/winutil.git
[submodule "SystemSupport/Win-10-11-BloatyNosy"]
	path = SystemSupport/Win-10-11-BloatyNosy
	url = git@github.com:builtbybel/BloatyNosy.git
[submodule "SystemSupport/Win-10-11-Open-Shell"]
	path = SystemSupport/Win-10-11-Open-Shell
	url = git@github.com:Open-Shell/Open-Shell-Menu.git
[submodule "HEIC-Format/HeicConverter"]
	path = HEIC-Format/HeicConverter
	url = git@github.com:saschiwy/HeicConverter.git
[submodule "SystemSupport/Win-10-11-UnattendedWinstall"]
	path = SystemSupport/Win-10-11-UnattendedWinstall
	url = git@github.com:memstechtips/UnattendedWinstall.git
[submodule "SteamGames/Overcooked2/OvercookedTool"]
	path = SteamGames/Overcooked2/OvercookedTool
	url = git@github.com:hadeutscher/OvercookedTool.git
[submodule "SteamGames/Overcooked2/UnityIdentifier"]
	path = SteamGames/Overcooked2/UnityIdentifier
	url = git@github.com:LinnielDW/UnityDeviceUniqueIdentifierHarness.git
[submodule "SystemSupport/Microsoft-Activation-Scripts"]
	path = SystemSupport/Win-10-11-MAS
	url = git@github.com:massgravel/Microsoft-Activation-Scripts.git
[submodule "SystemSupport/Win-11-Nano-Toolkit"]
	path = SystemSupport/Win-11-Nano-Toolkit
	url = git@github.com:nano11-dev/Nano11Toolkit.git
[submodule "SystemSupport/Win-11-Beard-Scripts"]
	path = SystemSupport/Win-11-Beard-Scripts
	url = git@github.com:TheBeardofKnowledge/Scripts-from-my-videos.git
[submodule "SystemSupport/Win-11-Tiny-Builder"]
	path = SystemSupport/Win-11-Tiny-Builder
	url = git@github.com:ntdevlabs/tiny11builder.git
